h1, h2, h3, h4, p {
  color: #42331d;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.app {
  background-color: #F3E03D;
  padding: 20px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 3px 17px -5px rgba(66,66,66,1);
} 

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(66, 51, 29, 0.2);
  padding-bottom: 5px;
}

ul.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

li.product {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid rgba(66, 51, 29, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  position: relative;
  margin: 0;
  cursor: pointer;
}

input[type="checkbox"]::before {
  cursor: pointer;
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(66, 51, 29, 0.2);
  border-radius: 100%;
}

input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  left: 5px;
  top: -4px;
  width: 10px;
  height: 5px;
  border-left: 1px solid rgba(66, 51, 29, 1);
  border-bottom:  1px solid rgba(66, 51, 29, 1);
  transform: rotate(-45deg);
}

input[type="text"] {
  position: relative;
  margin-left: 30px;
  border: none;
  background-color: transparent;
  color: #42331d;
}

input[type="text"]:focus {
  outline: none;
}

.button {
  background-color: transparent;
  color: #42331d;
  border: none;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button p {
  font-size: 10px !important;
  margin-left: 5px;
}

.button i {
  font-size: 25px;
}